.history-card {
  width: 80%;
  height: 2.2rem;
  border: solid 2px black;
  border-radius: 5px;
  background-color: #46cdcf;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  margin-bottom: 0.7rem;
}

.card-button {
  border: none;
  background-color: transparent;
  font-size: large;
  color: white;
}
